################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNetPractices/.vs/DotNetPractices
/DotNetPractices/InterviewCoding/BetterCoding/obj
/DotNetPractices/InterviewCoding/obj/
/DotNetPractices/InterviewCoding.Tests/obj/
/DotNetPractices/ProblemSolving/bin/
/DotNetPractices/ProblemSolving/obj/
/DotNetPractices/ProblemSolving.Tests/bin/
/DotNetPractices/ProblemSolving.Tests/obj/
/DotNetPractices/.vs/ProjectEvaluation
/DotNetPractices/InterviewCoding/bin/
/desktop.ini
